language: android

android:
  components:
    - build-tools-23.0.0
    - android-23
    - extra-android-m2repository

jdk:
  - oraclejdk7
  - oraclejdk8

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "qSyzwtT3Oi//R8GOrfjPHgjApOiXFUw/O7/WRCzX9tRoU8UoV34kjRgf7znwhsU3W5dG6IztE8mzwx78QG6J1YtoW3eWA1d9zdYLuWPfyBBUnYB5RKrYupV6DRrI3MG6uU36AgRvDFDhSaJrKsLaTYe/j8RRfkD4BGSjP2ltU/o="
    - secure: "RMC76VuML0VSD8rNKEBbkKFiP4A0R1BIUJUI/pkXqC3geUdGEAhxXTDvYt7o9/4Nm2H5PeGrATix8kzrg+HLgv1cmvddUxPh++ETTl6boCdvTCN8un2eB90gmG+N+2fMgrXXC1k70JnkfXqK9CdIRaMX9AAGgY6xJ/tM3cdDA3w="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
